@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background:rgba(6, 65, 183, 1);
}

#title {
    font-family: 'Bungee Inline', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;

    position: relative;
    top: 25px;
    left: 25px;
}

.bv {
    text-align: center;
    color: white;
    position: relative;
    top: 30px;
    left: 15px;
}

#title1 {
    font-family: 'Roboto Slab', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;
    
}

.bv h2 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 45px;
}

.barra {
    width: 43px;
    position: relative;
    left: 94%;
}

#like1, 
#like2, 
#like3, 
#like4 {
    cursor: pointer;
    background: none;
    border: none;   
}

#input1,
#input2,
#input3,
#input4 {
    text-align: center;
    width: 40px;
    border: none;
    pointer-events: none;
    background: transparent;

    font-family: 'Roboto Slab', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: white;
}

.imgs {
    text-align: center;
}
.img1, .img2, .img3 {
    border-radius: 17px;
    position: relative;
    top: 60px;
    padding: 10px;
    width: 229px;
    height: 125px;
}

footer{
    text-align: center;
    color: white;
    position: relative;
    top: 160px;
}


@keyframes like {
    from {bottom: 0px;}
    to {bottom: 100px;}
} 
#like1:active,
#like2:active,
#like3:active,
#like4:active{
    position: relative;
    animation: like .05s 1;
    animation-direction: initial;
}

